build/
.directory*
UseLATEX.cmake
.DS_Store
._.DS_Store
thesis.acn
thesis.acr
thesis.alg
thesis.aux
thesis.bbl
thesis.blg
thesis.glg
thesis.glo
thesis.gls
thesis.idx
thesis.ilg
thesis.ind
thesis.ist
thesis.loa
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.toc
vutinfth.aux
vutinfth.cls
vutinfth.glo
vutinfth.gls
vutinfth.hd
vutinfth.idx
vutinfth.ilg
vutinfth.ind
vutinfth.log
vutinfth.out
vutinfth.pdf
vutinfth.toc
